
@{
    ViewBag.Title = "공지사항";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>



<address>


    <div id="content">
        <div id="right_container">

     

            <table width="690" border="0" cellspacing="0" cellpadding="0" style="border:thin">
                <tr>
                    <div class="input_notic">

                        <button type="button" class="btn-primary btn-lg btn-space1">작성</button>
                    </div>
                    <br />
                    <div>
                        <input style="height: 25px;" name="searchnotic" id="searchnotic" type="text"
                               class="input_searchnotic" placeholder="검색어를 입력해 주세요">




                        <button type="button" class="btn-primary btn-lg btn-space">검색</button>
                    </div>




                </tr>

                <tr></tr>
                <tr bgcolor="#d5d1e3" style="font-weight:bold; font-size:14px;">
                    <td style="width: 50px;">아이디</td>
                    <td style="width: 100px;">제목</td>
                    <td style="width: 100px;">내용</td>
                    <td style="width: 100px;">생성일</td>
                </tr>

                <tr>
                    <td>1</td>
                    <td>학장배 골프대회</td>
                    <td>
                        안녕하십니까
                        서울대학교 S
                    </td>
                    <td>2018-11-12</td>
                </tr>


                <tr>
                    <td>2</td>
                    <td>SPARC 총동창회 송년의밤 행사</td>
                    <td>2018년도 &#039;&#039;SPARC </td>
                    <td>2018-11-12</td>
                </tr>


                <tr>
                    <td>23</td>
                    <td>제3회 SPARC 가족 봉사활동 안내</td>
                    <td>리더가 사회와 함께하여야 한</td>
                    <td>2019-01-08</td>
                </tr>


                <tr>
                    <td>24</td>
                    <td>서울대학교SPARC총동창회 임시총회</td>
                    <td>서울대학교SPARC총동</td>
                    <td>2019-01-24</td>
                </tr>


                <tr>
                    <td>25</td>
                    <td>2019년 서울대SPARC 신년 산행</td>
                    <td>2019년 서울대SPA</td>
                    <td>2019-01-24</td>
                </tr>


                <tr>
                    <td>26</td>
                    <td>SPARC 총동창회 임원회의 개최</td>
                    <td>2018</td>
                    <td>2019-01-24</td>
                </tr>


                <tr>
                    <td>27</td>
                    <td>SPARC정기총회 및 회장 이취임식 안내</td>
                    <td>안녕하십</td>
                    <td>2019-02-01</td>
                </tr>


                <tr>
                    <td>28</td>
                    <td>sparc 트래킹 동호회 발대식 및 창단 기념 시산제 공지</td>
                    <td>[서울대 sparc 트</td>
                    <td>2019-02-11</td>
                </tr>


                <tr>
                    <td>29</td>
                    <td> ▶SPARC 4월 트래킹 안내(4.6일)</td>
                    <td>1. 일시 : &amp;nbs</td>
                    <td>2019-03-21</td>
                </tr>


                <tr>
                    <td>31</td>
                    <td>SPARC가족 봉사활동(제3차) 안내 (3.30)</td>
                    <td>▶SPARC가족 봉사활</td>
                    <td>2019-03-21</td>
                </tr>



                <tr bgcolor="#f7f7f7">
                    <td colspan="4">
                        <table width="400" border="0" cellspacing="0" cellpadding="0" align="center" id="page"
                               style="border: 0px;">
                            <tr class="paging" id="paging">
                                처음 < 1 2 3 4 5 6 7 8 9 10> 끝
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>





        </div>
    </div>


</address>


